.red-paragraph {
    color: #FF0000;
}
.green-paragraph {
    color: #00FF00;
}
.blue-paragraph {
    color: #0000FF;
}
.purple-paragraph {
    color: #800080; 
}
.orange-paragraph {
    color: #FFA500;
}