body {
  font-family: sans-serif;
  padding: 20px;
}

textarea {
  width: 100%;
  height: 100px;
  font-size: 16px;
  padding: 10px;
  resize: none;
}

p {
  font-weight: bold;
  margin-top: 10px;
  color: green;
}
