.div_class{
    text-align: center;
}

.h1_class{
    background-color: black;
    color: greenyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}
.p_class{
    background-color: black;
    color: greenyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}

.button_class{
    background-color: black;
    color: greenyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}

.i_class{
    background-color: black;
    color: greenyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}
