@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,800&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: hsl(0, 0%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    background: white;
    padding: 2rem;
    border-radius: 20px 20px 80px 20px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

form {
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid hsl(0, 0%, 86%);
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.field {
    flex: 1;
    min-width: 90px;
}

label {
    font-size: 12px;
    letter-spacing: 2px;
    color: hsl(0, 1%, 44%);
    text-transform: uppercase;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 6px;
    margin-top: 4px;
    font-weight: 700;
    color: hsl(0, 0%, 0%);
}

#btn {
    width: 100%;
    margin-top: 1rem;
    padding: 12px;
    font-size: 1rem;
    background: hsl(259, 100%, 65%);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

#btn:hover {
    background: hsl(259, 100%, 55%);
}

.out {
    text-align: left;
}

.out p {
    font-size: 2.5rem;
    font-weight: 800;
    font-style: italic;
    line-height: 1.2;
    color: black;
}

.out span {
    color: hsl(259, 100%, 65%);
}

@media (min-width: 768px) {
    .box {
        max-width: 600px;
        padding: 3rem;
    }

    .out p {
        font-size: 3.5rem;
    }
}