.container {
    width: 400px;
    height: 300px;
    border: 3px solid gray;
    /* ///////////////////////////////////////////////////////////////// */
    /* Background */
    background-color: white; /* background-ის ფერი */
    background-image: url(''); /* background-ის  ფოტო */
    /* ///////////////////////////////////////////////////////////////// */
    /*  background-size მნიშვნელობები:
    - cover: ჩვენს მიერ მოთავსებული ფოტო დაფარავს მთლიან კონტეინერს.
    - contain: ჩვენს მიერ მოთავსებული ფოტო  სრულად გამოჩნდება კონტეინერში, მაგრამ შეიძლება გამოთავისუფლდეს ცარიელი ადგილი გვერდებზე. */
    background-size: cover;
    background-size: contain;
    /* ///////////////////////////////////////////////////////////////// */
    background-position: center; /* ჩვენს მიერ მოთავსებული ფოტო კონტეინერის ცენტრში განთავსდება */
    background-attachment: scroll; /* ჩვენს მიერ მოთავსებული ფოტო გადაყოლის დროს იძვრება კონტენტის თანახმად */
    }
