h1{
    color: aqua;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
.h1 hello{
    color: aqua;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
h2{
    color: aqua;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
.h2 holla{
    color: aqua;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
