@import url(https://fonts.google.com/specimen/Matangi?preview.size=18&lang=en_Latn);

.p1{
     font-family: 'matangi';
     text-align: center;
     
 }

.p2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

